:root {
    /* Cores */
    --primary: #4f46e5;
    --primary-hover: #4338ca;

    --success: #22c55e;
    --warning: #f59e0b;
    --danger: #ef4444;

    --background: #f8fafc;
    --surface: #ffffff;

    --text: #0f172a;
    --text-light: #64748b;

    /* Bordas */
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 20px;

    /* Sombras */
    --shadow-sm: 0 2px 8px rgba(0,0,0,.05);
    --shadow-md: 0 8px 24px rgba(0,0,0,.08);

    /* Espaçamento */
    --space-xs: .5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
}