<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SafeBite - Início</title>
  <link rel="icon" href="/Images/favicon.ico" />
  <link rel="stylesheet" href="../../Estilos/tela_1 - inicial.css" />
</head>

<body class="tela-inicial">
  <div class="container">
    <img src="../../Images/logo.png" alt="Logo SafeBite" class="logo" />
    <p class="slogan">Uma mordida sempre pode ser saudável!</p>

    <a href="tela_2 - cadastro.html" class="btn-grad">
      Cadastre-se
    </a>

    <p class="login-link">Já é cadastrado? <a href="tela_3 - login.html">Clique aqui!</a></p>

  </div>
</body>

</html>