<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Verificação</title>
  <link rel="icon" href="/Images/favicon.ico" />
  <link rel="stylesheet" href="../../Estilos/tela_6 - confirmacao.css">
</head>
<body>
  <a class="btn-voltar" href="tela_6 - confemail.html">Voltar</a>

  <div class="logo-wrap">

  <div class="card" role="main">
    <div style="text-align:center; padding:6px;">
      <div class="success-icon" ><img src="../../Images/logo.png"/>
      </div>

      <h2 style="margin-top:8px; color:#6ca900;">A Verificação<br>foi um sucesso!</h2>

      <a class="btn-primary" href="tela_3 - login.html">Concluir</a>
    </div>
  </div>
</body>
</html>
