<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Verifique seu e-mail</title>
  <link rel="icon" href="/Images/favicon.ico" />
  <link rel="stylesheet" href="../../Estilos/tela_6 - confirmacao.css">
</head>
<body>
  <a class="btn-voltar" href="tela_3 - login.html">Voltar</a>

  <div class="logo-wrap">

  <div class="card" role="main" aria-labelledby="titulo">  <img src="../../Images/logo.png"/>
    <h2 id="titulo">Verifique seu e-mail</h2>

    <p>
      Para continuar precisamos que verifique se você tem acesso ao endereço digitado. Exemplo:
      <strong>exemploemail@exemplo.com</strong>
    </p>

    <p>
      Enviamos um e-mail para sua caixa postal para que podemos verificar seu usuário. Se não achar procure na parte de Spam ou na Lixeira.
    </p>

    <a class="link-green" href="tela_6 - confemail.html">Clique aqui para reenviar o e-mail</a>
  </div>
</body>
</html>
