<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Código para nova senha</title>
  <link rel="icon" href="/Images/favicon.ico" />
  <link rel="stylesheet" href="../../Estilos/tela_6 - confirmacao.css">
</head>
<body>
  <a class="btn-voltar" href="tela_3 - login.html">Voltar</a>

  <div class="logo-wrap">

  <div class="card" aria-labelledby="cod">  <img src="../../Images/logo.png"/>
    <h2 id="cod">Código para nova senha:</h2>

    <p>Para recuperar sua senha é preciso que verifique seu e-mail. Você receberá um e-mail com o código para poder inserir uma nova senha. Insira o código abaixo:</p>

    <div class="code-row" aria-label="campo código">
      <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" />
      <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" />
      <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" />
      <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" />
      <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" />
      <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" />
    </div>

    <a class="link-green" href="tela_6 - confemail.html">Clique aqui para reenviar o e-mail</a>

    <div class="small-center">
      <a class="btn-primary" href="tela_3 - login.html">Concluir</a>
    </div>
  </div>
</body>
</html>
