.btn {
    border: none;
    cursor: pointer;
    border-radius: var(--radius-md);
    padding: .8rem 1.2rem;
    transition: .2s;
}

.btn-primary {
    background: var(--primary);
    color: white;
}

.btn-primary:hover {
    background: var(--primary-hover);
}

.btn-outline {
    border: 1px solid var(--primary);
    background: transparent;
}